VITE_API_URL=https://api.delivra.ng
VITE_WS_URL=wss://api.delivra.ng/ws
VITE_MAPBOX_TOKEN=your_mapbox_token_here
VITE_GOOGLE_MAPS_KEY=your_google_maps_api_key_here
VITE_VAPID_PUBLIC_KEY=BPKaTq-e4WqGEUcvPrQiY6S2EPCCRMC9pq8-_8axQv9_gC3W8W4rOUnJOGFrVTuJ4xawcC1_VxDdbFhzk9q_SFU
